@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<br />
<a href="http://localhost:5277/Customer/GetAllCustomers"> Customers </a>
<br />

<a href="http://localhost:5277/Customer/Register"> Register </a>