@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<h2 class="heading">
    Register Emoployee
</h2>
<table>
    <tr>
        <td><b>First Nmae:</b></td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td><b>Middel Nmae:</b></td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td><b>Last Name:</b></td>
        <td>
            <input type="text" />
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <br />
            <a href="EmployeeTable"></a>
            <input type="button" value="Sumbit" /></a>
        </td>
    </tr>
</table>

<hr />

<h2 class="heading">
    Employee Table
</h2>
<table border="3px" class="table">
    <tr class="table1">
        <td><b>FullName:</b></td>
        <td><b>Email:</b></td>
        <td><b>AddressTypes:</b></td>
        <td><b>DateOfJoining:</b></td>
        <td><b>Gender:</b></td>
        <td><b>Salry:</b></td>
    </tr>
    <tr>
        <td><a href="EmployeeView.html">Zahid</a></td>
        <td>zahid80@gmail.com</td>
        <td>1</td>
        <td>2015-05-12</td>
        <td>M</td>
        <td>45000</td>
    </tr>
    <tr>
        <td><a href="EmployeeView.html">Ravinder Sharma</a></td>
        <td>ravinder110@gmail.com</td>
        <td>2</td>
        <td>2017-05-12</td>
        <td>M</td>
        <td>35000</td>
    </tr>
    <tr>
        <td><a href="EmployeeView.html">Jiva Rathi</a></td>
        <td>jiva080@gmail.com</td>
        <td>1</td>
        <td>2018-05-12</td>
        <td>F</td>
        <td>40000</td>
    </tr>
    <td><a href="EmployeeView.html">Bhusan Rajput</a></td>
    <td>bhusan510@gmail.com</td>
    <td>2</td>
    <td>2020-05-12</td>
    <td>M</td>
    <td>47000</td>
    </tr>
    <td><a href="EmployeeView.html">Rayan Ahmad</a></td>
    <td>ryan80@gmail.com</td>
    <td>1</td>
    <td>2021-05-12</td>
    <td>M</td>
    <td>35000</td>
    </tr>
    <td><a href="EmployeeView.html">Indra</a></td>
    <td>indra009@gmail.com</td>
    <td>2</td>
    <td>2022-05-12</td>
    <td>F</td>
    <td>65000</td>
    </tr>
</table>

<hr />

<h2 class="heading">
    Employee View
</h2>

<table class="table">
    <tr>
        <td><b>FullName:</b></td>
        <td>Zahid</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td><a href="mailto:zahid80@gmail.com">zahid80@gmail.com</a></td>
    </tr>
    <tr>
        <td><b>AddressType:</b></td>
        <td>1</td>
    </tr>
    <tr>
        <td><b>DateOfJoining:</b></td>
        <td>2015-05-12</td>
    </tr>
    <tr>
        <td><b>Gender:</b></td>
        <td>M</td>
    </tr>
    <tr>
        <td><b>Salary</b></td>
        <td>45000</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="EditEmployeeDetails.html"><input type="button" value="Edit" /></a>
            &nbsp;
            <a href="EmployeeTable.html">Cancel</a>
        </td>
    </tr>
</table>

<hr />

<h2 class="heading">
     Edit Employee Details
</h2>
 <table class="table">
            <tr>
                <td><b>FullName:</b></td>
                <td>
                    <input type="text" value="Zahid" />
                </td>
            <tr>
                <td><b>Email:</b></td>
                <td>
                    <input type="text" value="zahid80@gmail.com" />
                </td>
            </tr>
            <tr>
                <td><b>AddressType:</b></td>
                <td>
                    <input type="text" value="2">
                </td>
            </tr>
            <tr>
                <td><b>DateOfJoining:</b></td>
                <td>
                    <input type="text" value="2015-05-12">
                </td>
            </tr>
            <tr>
                <td><b>Gender:</b></td>
                <td>
                    <input type="text" value="M">
                </td>
            </tr>
            <tr>
                <td><b>Salary:</b></td>
                <td>
                    <input type="text" value="45000">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br />
                    <a href="EmployeeView.html">
                        <input type="button" value="Update" /></a>
                    &nbsp;
                    <a href="EmployeeTable.html">Cancel</a>
                </td>
            </tr>
        </table>




















