@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<br />
<a href="http://localhost:5277/Product/GetAllProduct"> Customers </a>
<br />

<a href="http://localhost:5277/Product/Add"> Add </a>
*@