@model ShopEase.DataModels.ProductDemo.Customer
<html>
<h2>Customer Detail</h2>
<body>
    <div>
        <form id="customerForm" style="display: none;">
            <div class="form-group">
                <label for="fullName" class="form-label"><b>Full Name</b></label>
                <input type="text" class="form-control" id="fullName" name="fullName" required style="width: 300px;">
            </div>
            <br />
            <div class="form-group">
                <label for="gender" class="form-label"><b>Gender</b></label>
                <input type="text" class="form-control" id="gender" name="gender" required style="width: 300px;">
            </div>
            <br />
            <div class="form-group">
                <label for="email" class="form-label"><b>Email</b></label>
                <input type="email" class="form-control" id="email" name="email" required style="width: 300px;">
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Customer Details</button>
        </form>
        <br />
        <button id="toggleDetailsButton" class="btn btn-primary">Show</button>
        <div id="popup" class="mt-2" style="display: none;">
            <table>
                <tbody>
                    <tr>
                        <td style="padding-right: 10px;"><b>Full Name:</b></td>
                        <td id="customerFullName"></td>
                    </tr>
                    <br />
                    <tr>
                        <td style="padding-right: 10px;"><b>Gender:</b></td>
                        <td id="customerGender"></td>
                    </tr>
                    <br />
                    <tr>
                        <td style="padding-right: 10px;"><b>Email: </b></td>
                        <td id="customerEmail"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById('toggleDetailsButton').addEventListener('click', function () {
            var form = document.getElementById('customerForm');
            var popup = document.getElementById('popup');
            var toggleButton = document.getElementById('toggleDetailsButton');

            if (form.style.display === 'none') {
                form.style.display = 'block';
                popup.style.display = 'none';
                toggleButton.innerText = 'Show';
            } else {
                form.style.display = 'none';
                popup.style.display = 'block';
                toggleButton.innerText = 'Close';
            }
        });

        document.getElementById('customerForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var fullName = document.getElementById('fullName').value;
            var gender = document.getElementById('gender').value;
            var email = document.getElementById('email').value;

            document.getElementById('customerFullName').innerText = fullName;
            document.getElementById('customerGender').innerText = gender;
            document.getElementById('customerEmail').innerText = email;

            document.getElementById('popup').style.display = 'block';
            document.getElementById('customerForm').style.display = 'none';
            document.getElementById('toggleDetailsButton').innerText = 'Close';
        });
    </script>
</body>
</html>
