

<p><b>You Have Successfully Registered With ShopEase.Com</b></p>
<br />
<br />
<p><b>We Have Sent You a Confirmation Email On Your Registered Email Id</b></p>
<br />
<p><b>Please Click Here To Login</b></p>
<br />
<p><b><a href="https://localhost:7150/Account/Login">Login Now</a></b></p>