@{
    ViewData["Title"] = "Product Add suceess";
}

<div class="text-center">
    <h2 class="display-4">Product Add suceess</h2>
</div>

<a href="http://localhost:5277/Product/GetAll"> BackHome </a>


