﻿@{
    ViewData["Title"] = "Product Add suceessful";
}

<div class="text-center">
    <h2 class="display-4">Product Add suceessful</h2>
</div>

<a href="http://localhost:5277/Product/Index"> BackHome </a>