@{
    ViewData["Title"] = "Product Update suceess";
}

<div class="text-center">
    <h2 class="display-4">Product Update suceess</h2>
    @ViewBag.productCount
</div>

<a href="http://localhost:5277/Product/GetAll"> BackHome </a>