@{
    ViewData["Title"] = "Customer HTML Content";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<hr />

<h2 class="heading">
    Register Customer
</h2>
<table>
    <tr>
        <td><b>First Nmae:</b></td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td><b>Middel Nmae:</b></td>
        <td>
            <input type="text" />
        </td>
    </tr>
    <tr>
        <td><b>Last Name:</b></td>
        <td>
            <input type="text" />
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <br />
            <a href="Customer Details"></a>
            <input type="button" value="Sumbit" /></a>
        </td>
    </tr>
</table>

<hr />

<h2 class="heading">
    Customer Table
</h2>
<table border="3px" class="table">
    <tr class="table1">
        <td><b>FullName:</b></td>
        <td><b>MobileNumber:</b></td>
        <td><b>Email:</b></td>
        <td><b>AddressLine1:</b></td>
        <td><b>AddressLine2:</b></td>
        <td><b>Pincode:</b></td>
    </tr>
    <tr>
        <td><a href="CustomerView.html">Kashif Reza</a></td>
        <td>880-250-9045</td>
        <td>kashif@gmail.com</td>
        <td>Shaheen-Bag-New-Delhi</td>
        <td>SujawalPur-Bihar</td>
        <td>110025</td>
    </tr>
    <tr>
        <td><a href="CustomerView.html">Shabill</a></td>
        <td>780-370-7600</td>
        <td>shabill08@gmail.com</td>
        <td>Najafgarh-New-Delhi</td>
        <td>Chakjado-Bihar</td>
        <td>843214</td>
    </tr>
    <tr>
        <td><a href="CustomerView.html">Shabill Irfani</a></td>
        <td>790-350-7644</td>
        <td>shabill1997@gmail.com</td>
        <td>Mali-Ghat-KolKata</td>
        <td>Samastipur-Bihar</td>
        <td>843104</td>
    </tr>
    <tr>
        <td><a href="CustomerView.html">Salman</a></td>
        <td>990-907-7044</td>
        <td>salman@gmail.com</td>
        <td>Chawala-Gao-New-Delhi</td>
        <td>Muzaffarpur-Bihar</td>
        <td>842002</td>
    </tr>
</table>

<hr />

<h2 class="heading">
    Customer View
</h2>
<table class="table">
    <tr>
        <td><b>FullName:</b></td>
        <td>Kashif Reza</td>
    </tr>
    <tr>
        <td><b>MobileNumber:</b></td>
        <td>880-250-9045</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td><a href="mailto:kashif@gmail.com">kashif@gmail.com</a></td>
    </tr>
    <tr>
        <td><b>AddressLine1:</b></td>
        <td>Jasola-Vihar-Shaheen-Bag-New-Delhi</td>
    </tr>
    <tr>
        <td><b>AddressLine2:</b></td>
        <td>SujawalPur-Dholi-Sakra-Bihari</td>
    </tr>
    <tr>
        <td><b>Pincode:</b></td>
        <td>110025</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="EditCustomerDetails.html"><input type="button" value="Edit" /></a>
            &nbsp;
            <a href="CustomersTable.html">Cancel</a>
        </td>
</table>

<hr />

<h2 class="heading">
    Edit Customer Details
</h2>
<table class="table">
    <tr>
        <td><b>FullName:</b></td>
        <td>
            <input type="text" value="Kashif Reza" />
        </td>
    <tr>
        <td><b>MobileNumber:</b></td>
        <td>
            <input type="text" value="880-250-9045" />
        </td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td>
            <input type="text" value="kashif@gmail.com" />
        </td>
    </tr>
    <tr>
        <td><b>AddressLine1:</b></td>
        <td>
            <textarea rows="5" cols="20">Jasola-Vihar-Shaheen-Bag-New-Delhi</textarea>
        </td>
    </tr>
    <tr>
        <td><b>AddressLine2:</b></td>
        <td>
            <textarea rows="5" cols="20">SujawalPur-Dholi-Sakra-Bihari</textarea>
        </td>
    </tr>
    <tr>
        <td><b>Pincode:</b></td>
        <td>
            <input type="text" value="110025">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <br />
            <a href="CustomerView.html">
                <input type="button" value="Update" />
            </a>
            &nbsp;
            <a href="CustomerView.html"> Cancel </a>
        </td>
    </tr>
</table>

<hr />








