USE [ShopEaseDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductById]    Script Date: 21-01-2024 21:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_GetProductById]
    @ProductId INT
AS
BEGIN
    SELECT
        Products.Id,
        Products.Title,
        Categories.CategoryName,
        Products.BrandId,
        Brands.BrandName,
        Products.Price,
        Products.Discount,
        (Products.Price - Products.Discount) AS ActualPrice,
        Suppliers.SupplierName,
        Products.Quantity,
        Products.ImageName
    FROM
        Products
        INNER JOIN Brands ON Products.BrandId = Brands.Id
        INNER JOIN Categories ON Products.CategoryId = Categories.Id
        INNER JOIN Suppliers ON Products.SupplierId = Suppliers.Id
    WHERE
        Products.Id = @ProductId;
END
