@model ConstructionApplication.ViewModels.DailyAttendance.DailyAttendanceVm

<h4>Daily Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="text-success"> <b> @ViewBag.successMessage </b> </span>

            <div class="form-group">
                <label asp-for="Date" class="control-label"><b>Date</b></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="MasterMasonCount" class="control-label"><b>Total Master Mason</b></label>
                <input asp-for="MasterMasonCount" class="form-control" />
                <span asp-validation-for="MasterMasonCount" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="LabourCount" class="control-label"><b>Total Labour</b></label>
                <input asp-for="LabourCount" class="form-control" />
                <span asp-validation-for="LabourCount" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>