@model ShopEase.ViewModels.ProductFilterVm

<h1>Product Search</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductSearchResult">

            <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

            <span class="text-danger"><b>@ViewBag.ErrorMessage</b></span>
            <br />
            <div class="form-group">
                <label class="control-label"><b>Product Name</b></label>
                <input type="Text" id="ProductName" name="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label"><b>Brand Name</b></label>
                @Html.DropDownListFor(model => model.BrandId, ViewBag.Brands as SelectList, "-- Select --", new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <b>Min Price</b> <input type="Text" id="Min" name="Min" class="form-control" />
                        </td>
                        <td>
                            <b>Max Price</b> <input type="Text" id="Max" name="Max" class="form-control" />
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="form-group">
                <label><b>Category Name</b></label>
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, "-- Select --", new { @class = "form-control" })
            </div>
            <br />
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </td>
                        <td>
                            <input type="submit" value="Buy Now" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>