
<form method="get" action="/HealthManagement/GetDoctorPrescription">
    <label for="madicalRecordId"><b>Madical RecordId:</b></label>
    <input type="text" id="madicalRecordId" name="madicalRecordId">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
