@model CustomerSearchVm

<div>
    <h4>Customer</h4>   
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CustomerSearchResult">

                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label class="control-label"><b>First Name</b></label>
                    <input type="Text" id="FirstName" name="FirstName" class="form-control" new { required="required" } />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                </br>
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label class="control-label"><b>Last Name</b></label>
                    <input type="Text" id="LastName" name="LastName" class="form-control" new { required="required" } />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                </br>

                <p><b>Gender</b></p>
                <input type="radio" id="Gender" name="Gender" value="Male">&nbsp;
                <label><b>Male</b></label></br>
                
                <input type="radio" id="Gender" name="Gender" value="Female">&nbsp;
                <label><b>Female</b></label></br>
                
                <input type="radio" id="Gender" name="Gender" value=" Others">&nbsp;
                <label><b>Others</b></label></br>
                        
                </br>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
</br>
<div>
    <b>Back To Home</b>
</div>