@* 
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg rounded">
                <div class="card-header text-black">
                </div>
                <div class="card-body">

                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-warning text-center">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    <form asp-action="Index" method="post">
                        <div class="form-group mb-3">
                            <label for="Id" class="form-label fw-bold"></label>
                            <select id="Id" name="Id" class="form-control" asp-items="ViewBag.Site">
                                <option value="">-- Select Site --</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-sm btn-outline-primary">Go</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
 *@