@model MyWebApp.ViewModels.MovieAddVm

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"><b>Movie Name</b></label>
                <input type="Text" id="MovieName" name="MovieName" class="form-control" new { required="required" } />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label class="control-label"><b>Director Name</b></label>
                <input type="Text" id="DirectorName" name="DirectorName" class="form-control" new { required="required" } />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label class="control-label"><b>Actor Name</b></label>
                @Html.DropDownListFor(model => model.ActorId, ViewBag.Actors as SelectList,    "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActorId, "", new { @class = "text-danger" })
            </div>
            </br>
            <div class="form-group">
                <label class="control-label"><b>Actress Name</b></label>
                @Html.DropDownListFor(model => model.ActressId, ViewBag.Actresses as SelectList, "-- Select --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActressId, "", new { @class = "text-danger" })
            </div>
            </br>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="http://localhost:5277/Movie/Index"> <b>Back To Home</b> </a>
</div>

