@model MyWebApp.Models.Movie

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label style="visibility:hidden;" class="control-label"></label>
                <input style="visibility:hidden;" class="form-control" >
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Movie Name</label>
                <input type="Text" id="MovieName" name="MovieName" value="@Model.MovieName" class="form-control" new { required="required" } />
                <span asp-validation-for="MovieName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Director Name</label>
                <input type="Text" id="DirectorName" name="DirectorName" value="@Model.MovieName" class="form-control" new { required="required" } />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Actor Name</label>

                @Html.DropDownListFor(model => model.ActorId, ViewBag.actors as SelectList, "-- Select --", new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.ActorId, "", new { @class = "text-danger" })
            </div>

            </br>
            <div class="form-group">    
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            </br>
        </form>
    </div>
</div>

<div>
    <a href="http://localhost:5277/Movie/Index"> <b>Back To Home</b> </a>
</div>

