@{
    ViewData["Title"] = "Delete Suceess";
}

<div class="text-center">
    <h2 class="display-4">Delete Suceess</h2>
</div>
<a href="http://localhost:5277/Customer/GetAllCustomers"> Back Home </a>
